<nav id="mainnav" class="mainnav navbar navbar-expand-lg navbar-light bg-light">
  <ul class="menu">
    <li class="home">
      <a routerLink="/home" href="index.html">Home</a>
    </li>
    <li>
      <a href="case-v1.html">Sports</a>
      <ul class="submenu">
        <li><a href="case-v1.html">Football</a></li>
        <li><a href="case-v1.html">Cricket</a></li>
      </ul>
    </li>
    <li>
      <a href="blog.html">News</a>
      <ul class="submenu">
        <li><a href="blog.html">News V1</a></li>
      </ul>
    </li>
    <li>
      <a href="partner.html">Pages</a>
      <ul class="submenu">
        <li><a href="history.html">History</a></li>
        <li><a href="partner.html">Partner</a></li>
      </ul>
    </li>
    <li><a href="contact.html">Contact Us</a></li>
    <li><a href="overview.html">About Us</a></li>

  </ul>
  <!-- /.menu -->
</nav>
