header {
    background-color:hsl(218, 45%, 58%);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; 
    
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 30px;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: relative; 
    overflow: hidden; /* Added for the transition effect */
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #fff;
    transition: width 0.3s ease; /* Animation duration and easing function */
}

nav a:hover::after {
    width: 100%;
}



.menu-icon {
    display: none; /* Hide the menu icon by default */
    font-size: 24px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    nav {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }

    /* add more styles for mobile menu */
}
